body{
	background-color: #e56c91;
}
img.logoto{
	margin-left: 30px;
	margin-top: 80px;
	display: block;	
	max-height: 150px;
	max-width: 150px;
}
div.about{
	background-color: #62dce4;
	border-radius: 6px;
	max-width: 900px;
	opacity: 80;
}
h1{
	font-family: 'Glegoo';
	font-size: 28px;
	margin-top: 78px;
	text-align: center;

}
p.kontakt1{
	font-size: 'Glegoo';
	font-size: 18px;
	margin-top: 420px;
	margin-left: 28px;
}
img.kontakt2{
	max-height: 100px;
	max-height: 100px;
	opacity: 1;
 	 display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}