body{
	background-color: #566573;
}
div.mainInfo{
	background-color: #85929e;
	border-radius: 20px / 20px;
	max-width: 420px;
	margin: auto;
	opacity: 80%;
}
img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	top: 20px;
}
p.ajpi{
	margin-left: 20px;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	color: white;
}
p.Dynamap{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	color: white;
	margin-left: 20px;	
	position: relative;
	bottom: 7px;

}
p.serverStatus{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	color: white;
	position: relative;
	margin-left: 19.7px;
	background-color: red;
	max-width: 92.3px;
	padding: 6px 0 5px;
	text-align: center;
	border-radius: 5px;
	bottom: 15px;
}
p.contact{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	margin-top: 40px;
	position: relative;
}
a:link {
	color: #32a1f3;
	background-color: transparent;
	text-decoration: none;
}
a:visited{
	color: #32a1f3;
	background-color: transparent;
	text-decoration: none;
}
a:hover{
	color: #32a1f3;
	background-color: white;
	border-radius: 5px;
}
h1{
	font-size: 25px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	color: white;
	border-radius: 5px;
	text-align: left;
	max-width: 645px;
	margin: left;
}
div.rulesDatapacks{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	color: white;

}