body{
	background-color: #566573;
}
div.mainInfo{
	background-color: #85929e;
	border-radius: 20px / 20px;
}
img{
	margin-left: auto;
	margin-right: auto;
	display: block;
	position: relative;
	top: 20px;
}
p.ajpi{
	margin-left: 20px;
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
}
p.Dynamap{
	font-size: 22px;
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	position: relative;
	bottom: 7px;
}

